{{ if .Site.Data.content.Works }}
<ul class="menu-sub">
  <li class="menu-sub__item">
    <a href="#" class="menu-sub__link">
      <i class="menu-sub__icon">
        <svg class="icon" width="20" height="20">
          <use xlink:href="#catalog"></use>
        </svg>
      </i>
      <div class="menu-sub__text">
        <div class="menu-sub__header">
          <b class="menu-sub__title"> Catalog </b>
        </div>
        <small class="menu-sub__desc">
          Full list of all categories
        </small>
      </div>
      <div class="menu-sub__toggle">
        <svg class="icon" width="15" height="15">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </div>
    </a>
    {{- partial "_menu-inner" . -}}
  </li>
  <li class="menu-sub__item">
    <a href="#" class="menu-sub__link">
      <i class="menu-sub__icon">
        <svg class="icon" width="20" height="20">
          <use xlink:href="#electronics"></use>
        </svg>
      </i>
      <div class="menu-sub__text">
        <div class="menu-sub__header">
          <b class="menu-sub__title"> Electronics </b>
          <b class="menu__badge menu__badge--new">New</b>
        </div>

        <small class="menu-sub__desc">
          Popular gadgets and accessories
        </small>
      </div>
      <div class="menu-sub__toggle">
        <svg class="icon" width="15" height="15">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </div>
    </a>
    {{- partial "_menu-inner" . -}}
  </li>
  <li class="menu-sub__item">
    <a href="#" class="menu-sub__link">
      <i class="menu-sub__icon">
        <svg class="icon" width="20" height="20">
          <use xlink:href="#sports"></use>
        </svg>
      </i>
      <div class="menu-sub__text">
        <div class="menu-sub__header">
          <b class="menu-sub__title"> Sports & Outdoors </b>
          <b class="menu__badge menu__badge--actual">Actual</b>
        </div>

        <small class="menu-sub__desc"> Sports accessories from the best</small>
      </div>
      <div class="menu-sub__toggle">
        <svg class="icon" width="15" height="15">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </div>
    </a>
    {{- partial "_menu-inner" . -}}
  </li>
  <li class="menu-sub__item">
    <a href="#" class="menu-sub__link">
      <i class="menu-sub__icon">
        <svg class="icon" width="20" height="20">
          <use xlink:href="#multimedia"></use>
        </svg>
      </i>
      <div class="menu-sub__text">
        <div class="menu-sub__header">
          <b class="menu-sub__title"> Multimedia </b>
        </div>
        <small class="menu-sub__desc"> Our whole life is a game!</small>
      </div>
      <div class="menu-sub__toggle">
        <svg class="icon" width="15" height="15">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </div>
    </a>
    {{- partial "_menu-inner" . -}}
  </li>
  <li class="menu-sub__item">
    <a href="#" class="menu-sub__link">
      <i class="menu-sub__icon">
        <svg class="icon" width="20" height="20">
          <use xlink:href="#apparel"></use>
        </svg>
      </i>
      <div class="menu-sub__text">
        <div class="menu-sub__header">
          <b class="menu-sub__title"> Apparel </b>
        </div>
        <small class="menu-sub__desc">
          Top clothes collections, the most famous brands</small
        >
      </div>
      <div class="menu-sub__toggle">
        <svg class="icon" width="15" height="15">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </div>
    </a>
    {{- partial "_menu-inner" . -}}
  </li>
  <li class="menu-sub__item">
    <a href="#" class="menu-sub__link">
      <i class="menu-sub__icon">
        <svg class="icon" width="20" height="20">
          <use xlink:href="#office"></use>
        </svg>
      </i>
      <div class="menu-sub__text">
        <div class="menu-sub__header">
          <b class="menu-sub__title"> Office Supplies </b>
        </div>
        <small class="menu-sub__desc">
          To ensure the smooth operation of the office
        </small>
      </div>

      <div class="menu-sub__toggle">
        <svg class="icon" width="15" height="15">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </div>
    </a>
    {{- partial "_menu-inner" . -}}
  </li>
  <li class="menu-sub__item">
    <a href="#" class="menu-sub__link">
      <i class="menu-sub__icon">
        <svg class="icon" width="20" height="20">
          <use xlink:href="#brands"></use>
        </svg>
      </i>
      <div class="menu-sub__text">
        <div class="menu-sub__header">
          <b class="menu-sub__title"> Brands </b>
        </div>
        <small class="menu-sub__desc">
          All brands of the store
        </small>
      </div>
      <div class="menu-sub__toggle">
        <svg class="icon" width="15" height="15">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </div>
    </a>
    {{- partial "_menu-inner" . -}}
  </li>
</ul>
{{ end }}
