
{{ if .Site.Data.content.Works }}
<nav class="menu-inner">
    <table>
      <tr>
        <td class="menu-inner__content">
          <nav>
            <div class="menu-inner__pic">
              <img src="https://via.placeholder.com/100" alt="" />
            </div>
            <figure class="menu-inner__caption">
              <span>Computers</span><b class="menu__badge menu__badge--top">TOP</b>
            </figure>
            <figcaption class="menu-inner__links">
              <ul>
                <li>
                  <a href="#" class="menu-inner__link">Desktop</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link">Laptops</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link">Tablets</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link">Monitors</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link">Networking</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link--more">Eще</a>
                </li>
              </ul>
            </figcaption>
          </nav>
          <nav>
            <div class="menu-inner__pic">
              <img src="https://via.placeholder.com/100" alt="" />
            </div>
            <figure class="menu-inner__caption">
              <span>TV & Video</span>
            </figure>
            <figcaption class="menu-inner__links">
              <ul>
                <li>
                  <a href="#" class="menu-inner__link">LED TVs</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link">Plasma TVs</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link">3D TVs</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link"
                    >SVS & Blu-ray Players</a
                  >
                </li>
                <li>
                  <a href="#" class="menu-inner__link"
                    >Home Theater Systems</a
                  >
                </li>
              </ul>
            </figcaption>
          </nav>
          <nav>
            <div class="menu-inner__pic">
              <img src="https://via.placeholder.com/100" alt="" />
            </div>
            <figure class="menu-inner__caption">
              <span>MP3 Players</span>
            </figure>
            <figcaption class="menu-inner__links">
              <ul>
                <li>
                  <a href="#" class="menu-inner__link">iPods</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link">Android</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link">MP3 Players</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link"
                    >MP3 Speaker Systems</a
                  >
                </li>
                <li>
                  <a href="#" class="menu-inner__link">Headphones</a>
                </li>
              </ul>
            </figcaption>
          </nav>
          <nav>
            <div class="menu-inner__pic">
              <img src="https://via.placeholder.com/100" alt="" />
            </div>
            <figure class="menu-inner__caption">
              <span>Cell Phones</span>
            </figure>
            <figcaption class="menu-inner__links">
              <ul>
                <li>
                  <a href="#" class="menu-inner__link"
                    >Apple iPhone</a
                  >
                </li>
                <li>
                  <a href="#" class="menu-inner__link">HTC</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link">Motorola</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link">Nokia</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link">Samsung</a>
                </li>
              </ul>
            </figcaption>
          </nav>
          <nav>
            <div class="menu-inner__pic">
              <img src="https://via.placeholder.com/100" alt="" />
            </div>
            <figure class="menu-inner__caption">
              <span>Car Electronics</span>
            </figure>
            <figcaption class="menu-inner__links">
              <ul>
                <li>
                  <a href="#" class="menu-inner__link"
                    >GPS & Navigation</a
                  >
                </li>
                <li>
                  <a href="#" class="menu-inner__link"
                    >In-Dash Stereos</a
                  >
                </li>
                <li>
                  <a href="#" class="menu-inner__link">Speakers</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link">Subwoofers</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link">Amplifiers</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link--more">Eще</a>
                </li>
              </ul>
            </figcaption>
          </nav>
          <nav>
            <div class="menu-inner__pic">
              <img src="https://via.placeholder.com/100" alt="" />
            </div>
            <figure class="menu-inner__caption">
              <span>Camera & Photo</span
              ><b class="menu__badge menu__badge--new">Bestseller</b>
            </figure>
            <figcaption class="menu-inner__links">
              <ul>
                <li>
                  <a href="#" class="menu-inner__link"
                    >Digital Cameras</a
                  >
                </li>
                <li>
                  <a href="#" class="menu-inner__link"
                    >DSLR Cameras</a
                  >
                </li>
                <li>
                  <a href="#" class="menu-inner__link">Camcorders</a>
                </li>
                <li>
                  <a href="#" class="menu-inner__link">Lenses</a>
                </li>
              </ul>
            </figcaption>
          </nav>
          </td>
          <td class="menu-inner__banner">
            <iframe src="https://coruscating-kelpie-5b1c2f.netlify.app/" frameborder="0" width="300" height="600" scrolling="no" marginwidth="0"
            marginheight="0"></iframe>
            </td>
        </tr>
    </table>
  </nav>
{{ end }}
