<section class="section">
  <div class="section__container">
    <div class="row">
      <div class="col-md-6">
        <h2>
          Get the right plan for future
        </h2>
      </div>
    </div>
    <div class="row row--1">
      <div class="col-md-6 col-lg-4">
        <figure class="card">
          <table class="card__data">
            <tr>
              <td>
                Starter
              </td>
            </tr>
            <tr>
              <td>
                <span class="card__title">
                  Free
                </span>
              </td>
            </tr>
            <tr>
              <td>
                1 Website
              </td>
            </tr>
            <tr>
              <td>
                5 GB Hosting
              </td>
            </tr>
            <tr>
              <td>
                Limited Support
              </td>
            </tr>
            <tr>
              <td>
                <a href="#rss" class="card__btn">
                  Get Started
                </a>
              </td>
            </tr>
          </table>
        </figure>
      </div>
      <div class="col-md-6 col-lg-4">
        <figure class="card card--active">
          <table class="card__data">
            <tr>
              <td>
               Premium
              </td>
            </tr>
            <tr>
              <td>
               <span class="card__title">$29/<small>month</small></span>
              </td>
            </tr>
            <tr>
              <td>
               10 Website
              </td>
            </tr>
            <tr>
              <td>
               15 GB Hosting
              </td>
            </tr>
            <tr>
              <td>
               Premium Support
              </td>
            </tr>
            <tr>
              <td>
                <a href="#rss" class="card__btn">
                  Get Started
                </a>
              </td>
            </tr>
          </table>
        </figure>
      </div>
      <div class="col-md-6 col-lg-4">
        <figure class="card">
          <table class="card__data">
            <tr>
              <td>
               Enterprise
              </td>
            </tr>
            <tr>
               <td>
              <span class="card__title">
               $49/<small>month</small>
              </span>
              </td>  
            </tr>
            <tr>
              <td>
               Unlimited Website
              </td>
            </tr>
            <tr>
              <td>
               50 GB Hosting
              </td>
            </tr>
            <tr>
              <td>
               Premium Support
              </td>
            </tr>
            <tr>
              <td>
                <a href="#rss" class="card__btn">
                  Get Started
                </a>
              </td>
            </tr>
          </table>
        </figure>
      </div>
    </div>
  </div>
</section>
